@media screen and (min-width: 1200px) {

    .container {
        max-width: 1200px;
    }


    .section-hero {
        padding: 188px 472px;
        margin-bottom: 48px;
    }

    .header-link {
        padding-bottom: 28px;
    }

    .address-mail {
        font-size: 16px;
        line-height: 1.5;
    }
    .address-tel {
        font-size: 16px;
        line-height: 1.5;
    }


    .address-container {
        display: flex;
        align-items: center;
        gap: 40px;    
    }

    .item {
        flex-basis: calc((100% - 72px) /4);
    }

    .subtitle-features {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }


    .icon-box-features {
        width: 264px;
        height: 112px;
        background: #F4F4FD;
        border-radius: 4px;
        display: grid;
        justify-items: center;
        align-items: center;
    }
    
    .features-icon {
        width: 64px;
        height: 64px;
        display: flex;
        justify-items: center;
    }

    .team-list {
        display: flex;
        gap: 24px;
    }

    .customers-list {
        display: flex;
        gap: 24px;
    }

    .customers-item {
        flex-basis: calc((100% - 120px) / 6);
        width: 190px;
    }

    

    .gap-social {
        margin-left: 120px;
    }

    .gap-subscribe {
        margin-left: 80px;
        margin: 0;
    }

    
}