@media screen and (min-width: 1200px) {

    .container {
        max-width: 1200px;
    }


    .section-hero {
        padding: 188px 472px;
        margin-bottom: 48px;
    }

    .header-link {
        padding-bottom: 28px;
    }

    .address-mail {
        font-size: 16px;
        line-height: 1.5;
    }
    .address-tel {
        font-size: 16px;
        line-height: 1.5;
    }


    .address-container {
        display: flex;
        align-items: center;
        gap: 40px;    
    }

    .item {
        flex-basis: calc((100% - 72px) /4);
    }

    .subtitle-features {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }


    .icon-box-features {
        width: 264px;
        height: 112px;
        background: #F4F4FD;
        border-radius: 4px;
        display: grid;
        justify-items: center;
        align-items: center;
    }
    
    .features-icon {
        width: 64px;
        height: 64px;
        display: flex;
        justify-items: center;
    }

    /* .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
    }
} */
}