@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }

    .section-hero {
        max-width: 100%;
    }


    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/dark-bg.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tb-2x.jpg);
    }
}
}