:root {
  --main-background: #2e2f42;
  --text-color: #434455;
  --hover-focus-color: #4D5AE5;
  --btn-color-hov-foc: #404BBF;
  --light-color: #ffffff;
  --4light-color: #f4f4fd;
  --footer-color-text: #e7e9fc;
  --border-color: 1px solid #e7e9fc;
}


body {
  font-family: 'roboto', sans-serif;
  color: var(--text-color)
}

h1,h2,h3,p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto; 
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.sections {
  padding-bottom: 120px;
  padding-top: 120px; 
}


.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* Header */



.header {
  padding-top: 24px;
  padding-bottom: 24px;
}


.header-logo {  
  font-family: 'raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hover-focus-color);
  margin-right: 76px;
}
.span-logo {
  color: var(--main-background);
}
.header-list {
  display: none;
  
}
.header-item {
}


.address {
}
.address-list {
  display: none;
}


/* hero */
.section-hero {
  background: var(--main-background);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 112px 54px;
  text-align: center;
  display: flex;
  max-width: 100%;
}
.section-title-hero {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--light-color);
  margin-bottom: 72px;
}

.main-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light-color);
  cursor: pointer;
  background: var(--hover-focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  border: 0;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background: var(--btn-color-hov-foc);
}

/* features */

.icon-box-features {
  width: 264px;
  height: 112px;
  background: #F4F4FD;
  border-radius: 4px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.features-icon {
  width: 64px;
  height: 64px;
  display: flex;
  justify-items: center;
}

.item {
  flex-basis: calc((100% - 72px) /4);
}

.text-content{
  display: flex;
  gap: 24px;
}

.title-features {
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.subtitle-features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-background);
  margin-bottom: 8px;
  margin-top: 8px;
}
.text-features {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  max-width: 264px;
}
/* doing */
.doing {
  padding-bottom: 120px;
}
.doing-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-background);
  margin-bottom: 72px;
}
.doing-item {
}
.doing-list {
  display: flex;
  gap: 24px;
}

/* team */

.team {
  background: var(--4light-color);
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-background);
  margin-bottom: 72px;
}
.team-item {
  background: var(--light-color);
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-background);
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-top: 8px;
  margin-bottom: 8px;
}

.team-conten {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-item :is(:hover,:focus) {
  background-color: #404BBF;
}
/* customers */

.customers-title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-background);
  margin-bottom: 72px;
}

.customers-section {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  flex-basis: calc((100% - 120px) / 6);
  width: 168px;
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8E8F99;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon{
  fill: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:is(:hover, :focus) {
  border-color: #404BBF;
} 
.customers-link:is(:hover, :focus)  .customers-icon {
  fill: #404BBF;
}

/* footer */


.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hover-focus-color);
}
.footer-logo-span {
  color: var(--4light-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-color-text);
  margin-top: 16px;
  max-width: 264px;
}
.flex-footer {
  display: flex;
}

.soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.gap-social {
  margin-left: 120px;
}

.gap-subscribe {
  margin-left: 80px;
}

.soc-footer-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.socf-item {
  width: 40px;
  height: 40px;
}
.socf-link {  
  width: 100%;
  height: 100%;
  background-color: #434455;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socf-item :is(:hover,:focus) {
  background-color: #31D0AA;
}

.footer-form {
  margin-top: 16px;
  display: flex;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #FFFFFF;
  font-size: 13px;
}

.footer-input::placeholder {
  font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: rgba(255, 255, 255, 0.6);
}

.footer-input:is(:hover,:focus) {
  border-color: #31D0AA;
}

.footer-input:focus::placeholder {
  color: #31D0AA;
}

.footer-input:hover::placeholder {
  color: #31D0AA;
}

.btn-foot-input {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  width: 165px;
  height: 40px;
  background: var(--hover-focus-color);
  border-radius: 4px;
  border: 0;
  padding: 8px 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  fill: #FFFFFF;
  gap: 16px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.btn-foot-input:hover,
.btn-foot-input:focus {
  background: var(--btn-color-hov-foc);
}

/* -----PORTFOLIO----- */
/* header */

.header-portfolio {
  padding-top: 24px;
  padding-bottom: 28px;
  border-bottom: 1px solid #E7E9FC;
}

.logo-portfolio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hover-focus-color);
  margin-right: 76px;
}
.logo-portfolio-span {
  color: var(--main-background);
}
.portfolio-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  color: var(--main-background);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  color: var(--hover-focus-color);
}

.portfolio-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.contacts-port:hover,
.contacts-port:focus {
  color: var(--hover-focus-color);
}

.portfolio-item {
    font-style: normal;
  }
  

/* section button */ 

.list-btn {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.section-portf {
  padding-top: 96px;
  padding-bottom: 120px;
}

.btn-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--hover-focus-color);
  cursor: pointer;
  border: var(--border-color);
  border-radius: 4px;
  padding: 12px 24px;
  transition: background  250ms cubic-bezier(0.4, 0, 0.2, 1), border-color  250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--light-color);
  border-color: var(--btn-color-hov-foc);
  background:  var(--btn-color-hov-foc);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* section image*/

.item-portfolio {
  flex-basis: calc((100% - 48px) /3);
}

.item-portfolio:hover .portf-top-text {
  transform: translateY(0%);
}

.portf-linkk:focus .portf-top-text {
  transform: translateY(0%);
}

.portf-linkk {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-linkk:is(:hover,:focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

/*.content-img-p:is(:hover,:focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer; 
} */

.portf-top-wrap {
  position: relative;
  overflow: hidden;
}

.portf-top-text {
  position: absolute;
  top: 0;
  font-family: "roboto", sans-serif;
  font-style: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--4light-color);
  background-color: var(--hover-focus-color);
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content-img-p {
  border: 1px solid #E7E9FC;
  border-top: none;
  padding-left: 16px;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.image-list {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.image-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-background);
  margin-bottom: 8px;
}
.image-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color)
  
}



/* footet portfolio */

.footer {
  background: var(--main-background);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer-port {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hover-focus-color);
}

.logo-footer-span-port {
  color: var(--4light-color);
}

.footer-text-port {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-color-text);
  margin-top: 16px;
  max-width: 264px;
}

.current {
  color: #404BBF;
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0px;
  background: var(--btn-color-hov-foc);
  border-radius: 2px;
}

/*----modal---*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  background-color: #FCFCFC;
  border-radius: 4px;
  padding: 24px;
  transform:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #E7E9FC;
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 24px;
}

.modal-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-background);
  text-align: center;
  margin-bottom: 14px;
}

.modal-form {
}


.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  background: #FCFCFC;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:is(:hover,:focus), .modal-comment:is(:hover,:focus) {
  border-color: var(--hover-focus-color);
}

.modal-input:is(:hover,:focus) + .modal-inpt-icon {
  fill: var(--hover-focus-color);
}

.modal-imput-text {
  
}

.modal-imput-text span {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #8E8F99;
  margin-top: 8px;
  margin-bottom: 4px;
  display: block;
}

.input-wrap {
  position: relative;
}

.modal-inpt-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  background: #FCFCFC;
  padding: 8px 16px;
  resize: none;
  margin-bottom: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment:focus::placeholder {
  color: var(--hover-focus-color);
}

.modal-comment:hover::placeholder {
  color: var(--hover-focus-color);
}

.modal-check {

}

.check-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #757575;
  display: flex;
}

.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2E2F42;
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.modal-check:checked + .check-text span {
  background-color: var(--btn-color-hov-foc);
  border: none;
  fill: var(--4light-color);
}

.policy-color {
  color: var(--hover-focus-color);
}

.modal-input-btn {
  font-family: 'Roboto' sans-serif; 
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  color: #FFFFFF;
  background: var(--hover-focus-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 24px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-btn:hover,
.modal-input-btn:focus {
  background: var(--btn-color-hov-foc);
}

.btn-modal-sub {
  display: flex;
  align-items: center;
  justify-content: center;
}

