@media screen and (min-width: 768px) {
    
    .container {
        max-width: 768px;
    }

    /* .container-mini {
        max-width: 480px;
    } */

    .header-logo {
        margin-right: 123px;
    }

    .header-container {
        display: flex; 
        align-items: center;
    }
    
    .header-navigation {
        display: flex;
        align-items: center; 
        margin-right: auto;
    }


    .header-list {
        display: flex;
        gap: 40px;
    }
    
    .header-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 34px;
        color: var(--main-background);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-link:hover,
    .header-link:focus {
        color: var(--hover-focus-color);
    }

    .address-list {
        display: flex;
    }

    .address-item {
        font-style: normal;
}
    .contacts-header:hover,
    .contacts-header:focus {
        color: var(--hover-focus-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .address-mail {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: var(--text-color);
    }
    .address-tel {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: var(--text-color);
    }

    .address-container {
        display: block;
        align-items: center;    
    }


    .section-hero {
        padding: 112px 136px 108px;
    }

    .section-title-hero {
        font-size: 56px;
        line-height: 1.07;
        width: 496px;
        margin-bottom: 40px;
    }

    .item {
        flex-basis: calc((100% - 24px) /2);
    }

    .text-content{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .subtitle-features {
        text-align: left;
    }

    .text-features {
        max-width: 100%;
    }

    .icon-box-features {
        display: none;
    }
    
    .features-icon {
        display: none;
    }

    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
    }
}

    .container-team {
        padding-left: 108px;
        padding-right: 108px;
    }

    .team-list {
        gap: 24px;
    }

    .customers-section {
        padding: 96px 107px 96px;
    }

    .customers-list {
        gap: 24px;
    }

    .customers-item {
        flex-basis: calc((100% - 48px) / 3);
        width: 168px;
    }

}